@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&display=swap');

body {
  background-color: rgb(245, 245, 245);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1, h2, h3, h4, a, p {
  padding: 0;
  margin: 0;
}

/* Navbar */
.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.7em 4em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.nav-heading {
  flex: 1;
}

.navbar a {
  text-decoration: none;
  color: #333;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  margin: 0;
}

.navbar li {
  list-style-type: none;
  font-size: 20px;
}

/* Form */
.patient-form {
  max-width: 1400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}

.patient-form div {
  display: flex;
  flex-direction: column;
}

.patient-form h1 {
  font-size: 36px;
}

.patient-form label {
  margin-left: 0.5em;
  margin-bottom: 0.2em;
  font-weight: 500;
  font-size: 24px;
}

.patient-form input {
  margin-left: 0.5em;
  width: 40%;
  font-size: 24px;
  margin-bottom: 2em;
}

.patient-form button {
  margin: 0 auto;
}

.gender {
  display: flex;
  /* flex-direction: column; */
}

.gender div {
  display: flex;
}

.view-form input {
  pointer-events: none;
  color: grey;
}

/* Patient List Page */

.patient-list {
  padding: 1em 10em;
}

.patient {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1em 4em;
  margin: 1.5em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.patient:hover {
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.2);
}

.patient h3 {
  text-transform: capitalize;
}

.patient-short-details {
  flex: 5;
}

.p-btns {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

@media screen and (max-width: 490px) {
  .update-form {
    display: flex;
    flex-direction: column;
  }
}